@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
.btn-container{
   text-align: center;

}
.btn{
    padding: 14px 18px 14px 18px;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
border: none;
cursor: pointer;
}
#hero{
   
   padding-top: 10px;
   
   height: 400px;
   margin: 0 auto;
   background-image: linear-gradient( 0deg,
   rgb(9, 9, 9) 3.482%,
   rgba(16, 16, 16, 0) 101.632%),url("../assets/hero-bg.png");
   background: repeat 1;
   display: flex;
   position: relative;
   background-position: center;
   justify-content: center;
   background-size: cover;
  
}

#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 10px;

}
#hero .hero-content .msubtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 300;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 32px;

}

#card-box{
    background: repeat 1;
    display: grid;
    position: relative;
    background-position: center;
    justify-content: center;
    background-size: cover;
    grid-template-columns:repeat(1, 1fr);
}
#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;

}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 20px;
}

 #card-box .card-container{
    max-width: 100%;
    align-items: center;
    margin: 0   auto;
    gap: 50px;
    justify-content:space-around;
    font-family: Work Sans;
    padding: 20px;
   display: flex;
}
#card-box .container .title{
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
.card{
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    max-width:100%;
    display: flex;
    flex-direction: column;
    gap:20px ;
    justify-content: center;
    align-items: center;
    
}
.card .image-box{
    width: 100%;
}
.card .image-box img{
    width: 100%;
}
.card .shop{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding:8px;

background: rgba(82, 195, 3, 0.15);
}
.card .discount{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
}
.card .cardcaption{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    text-align: justify;

}
#social{
height: 615px;
background-image:url("../assets/social-bg.png");
background-size: cover;
background-position: center;
justify-content: center;
align-items: center;
gap: 20px;
width: 100%;
display: flex;


}
#social .so .hh{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}
#social .so .pp{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-top: 20px;

}
#social .so .hh4{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 17px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 30px;

}
footer{
    text-align: center;
    margin: 20px;
}
#social .social-fav{
    display: flex;
    justify-content: center;

    
}
#social .social-fav img{


width: 40px;
margin-top: 20px;
padding: 10px;
cursor: pointer;


}
#about-us{
    
    padding: 20px;
    
    height: 300px;
    display: flex;
    justify-content:space-around;
    background-color: rgb(163, 177, 195);

}

#about-us .about-image img {

width: 100%;
height: 300px;
left: 0;
top: 0;
border-radius: 20px;
}
#about-us .about-image{
    
    width: 50%;
}
#about-us .about .about-title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
margin:10px ;
padding-inline-start: 30px;
padding-inline-end: 10px;

}
#about-us .about{
   margin-top:50px;
   width: 50%;

   
}
#about-us .about .about-pp{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 20px;

}

#about-us .about .about-ppp{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
}

#about-us .about .about-fav{
    display: flex;
    justify-content: center;
    
}
#about-us .about .about-fav img{
    width: 40px;
margin-top: 20px;
padding: 10px;
cursor: pointer;
}



@media screen and (max-width: 992px) {
 #card-box .card-container{
      grid-template-columns: repeat(2,1fr);
   display: grid;
   padding: -40px;
 }
 #card-box .container .title{
    font-size:medium;
    color: blueviolet;
 }
}

@media screen and (max-width: 768px) {
 #card-box .card-container{
     grid-template-columns: repeat(1,1fr);
   display: grid;
   padding: -40px;
 }
 #card-box .container .title{
    font-size:medium;
    color: blueviolet;
 }
 #about-us{
    
    height: 300px;
    display: grid;
    justify-content: center;
  

}
#about-us .about{
   width: 100%;   
}
#about-us .about-image{
    
    width: 100%;
}
footer h1{
    position: relative;
    top: 220px;
    font-size: small;
}
}